<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="SCVDBContainer" connectionString="metadata=res://*/SCVDB.csdl|res://*/SCVDB.ssdl|res://*/SCVDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.6;initial catalog=SCV;persist security info=True;user id=ttx;password=ttx2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBContainer" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.6;initial catalog=LKAppsDB;persist security info=True;user id=ttx;password=ttx2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--test jj01-->
    <!--<add name="DBContainer" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LKAppsDB;persist security info=True;user id=sa;password=z5oJ6Dr7@JVet.P4lME#Dle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SCVDBContainer" connectionString="metadata=res://*/SCVDB.csdl|res://*/SCVDB.ssdl|res://*/SCVDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SCV;persist security info=True;user id=sa;password=z5oJ6Dr7@JVet.P4lME#Dle;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--test  qcy-->
    <!--<add name="DBContainer" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LKAppsDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SCVDBContainer" connectionString="metadata=res://*/SCVDB.csdl|res://*/SCVDB.ssdl|res://*/SCVDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SCV;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
