<?xml version="1.0" encoding="utf-8"?>
<quartz>
  <add key="quartz.scheduler.instanceName" value="ServerScheduler" />
  <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
  <add key="quartz.threadPool.threadCount" value="10" />
  <add key="quartz.threadPool.threadPriority" value="Normal" />
  <!--<add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>-->
  
  <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
  <add key="quartz.plugin.xml.fileNames" value="~/App_Data/Config/quartz_jobs.xml" />


  <!--<add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
  <add key="quartz.scheduler.exporter.port" value="2248" />
  <add key="quartz.scheduler.exporter.bindName" value="ServiceRunner" />
  <add key="quartz.scheduler.exporter.channelType" value="tcp" />
  <add key="quartz.scheduler.exporter.channelName" value="Global" />-->
</quartz>
