<?xml version="1.0" encoding="utf-8"?>
<spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="ServiceSession" type="Apps.Service.ServiceSession,Apps.Service" singleton="false"></object>
      <object id="DBSession" type="Apps.Repository.DBSession,Apps.Repository" singleton="false"></object>
      <object id="SCVServiceSession" type="Apps.Service.SCV.SCVServiceSession,Apps.Service" singleton="false"></object>
      <object id="SCVDBSession" type="Apps.Repository.SCV.SCVDBSession,Apps.Repository" singleton="false"></object>
    </objects>
  </spring>